.aa:before{
    content:"";
    display:inline-block;
    height:100%;
    width:0;
    vertical-align: middle;
    margin-left:-.25em;//这里是为了去除inline-block的空隙的影响
}

.aa>.aaa{
    display:inline-block;
    vertical-align: middle;
}

html,body{
    padding:0;
    margin:0;
    height:100%;
    width:100%;
}
.aa{
    width:100%;
    height:100%;
    text-align:center;
}
.aaa{
    padding:1%;
    background:#666;
    color:#fff;
    font-size:20px;
    font-family:"Comic Sans MS", cursive;
    text-align:center;
    line-height:20px;
}
.header-quicklink{
   	padding:1%;
    background:#666;
    color:#fff;
    font-size:20px;
    font-family:"Comic Sans MS", cursive;
    text-align:right;
    line-height:20px;

}